* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3944F7;
}

.main-title {
    text-align: center;
    color: #fff;
}

input[type="text"] {
    color: #fff;
}